/*HTML SELECTORS*/
/*------------------------------------------------------------------*/

body{
    font-family: Montserrat;
}

h1{
    font-family: Montserrat;
    font-weight: 900;

}

h2{
    font-family: Montserrat;
    font-weight: 900;
    font-size: 1.5rem;
}

h3{
    font-family: Montserrat;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}



/*------------------------------------------------------------------*/

/*TITLE SECTION*/

#title {
    background-color: #ff4c68;
    color: white;
    font-family: Montserrat;
}

.container-fluid{
    padding: 3% 15% 5%;
}

.intro{
    font-size: 3rem;
    line-height: 1.5em;
    padding-bottom: 10px;
}

.download-button{
    margin: 3% 2% 1% 0%;
}




/*------------------------------------------------------------------*/
/*NAVBAR*/

.navbar{
    padding-bottom: 4.5%;
}

.navbar-brand{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: lighter;
}



/*------------------------------------------------------------------*/
/*APP IMAGE*/

.app-image{
    padding-left: 60px;
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 22.5%;
}




/*------------------------------------------------------------------*/
/*FEATURES SECTION*/

#features{
    padding: 5% 18% 5% 18%;
    text-align: center;
    background-color: white;
    position: relative;
}

.feature-icon{
    padding-bottom: 7%;
}

.feature-icon{
    font-size: xxx-large;
    color: #ef8176;
}

.feature-icon:hover{
    color: #ff4c68;
}

.feature-box{
    line-height: 1.5;
    padding: 0 20px;
}






/*------------------------------------------------------------------*/
/*TESTIMONIAL SECTION*/

#testimonials{
    background-color: #ef8176;
    text-align: center;
    color: white;
}



.testimonial-image{
    border-radius: 100%;
    width: 10%;
    padding-top: 50px;
}

.carousel-item{
     padding: 2% 25% 7% 25%;
}

.testimonial{
    line-height: 2;
    font-size: 2rem;
}







/*------------------------------------------------------------------*/
/*Press section*/

#press{
     background-color: #ef8176;
    text-align: center;
}

.press-logo{
    padding: 20px 10px 60px;
    width: 15%;

}








/*------------------------------------------------------------------*/
/*Pricing Section*/

#pricing{
    text-align: center;
    padding: 5% 10%;
}

.pricing-title{
    padding-bottom: 3.5%;
}








/*------------------------------------------------------------------*/
/*CALL TO ACTION*/

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15%;
}

.cta{
    line-height: 1.2em;
    font-size: 3em;
    color: white;
}







/*------------------------------------------------------------------*/
/*FOOTER SECTION*/

#footer{
    padding: 3% 5% 0%;
    text-align: center;
}

.social{
    padding: 2% 2% 2% 2%;
    color: black;
}

.social:hover{
    color: blue;
}



/*------------------------------------------------------------------*/
/*Media query*/


@media (max-width: 1028px){
    .app-image{
        position: static;
        width: 80%;
        transform: rotate(0deg);
        padding-top: 30px;
        padding-right: 60px;
    }

    #title{
        text-align: center;
    }
}